.team-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3em;
}
.team-logo img {
    height: 11em;
}
.team-logo img:hover{
    transform: rotate(5deg);
    cursor: default;
}
.team-logo div {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    margin-left: -4em;
}
.team-logo div h1{
    font-weight: bold;
    font-size: 1.1em;
}
.team-logo div:hover h1{
    transform: rotate(-5deg);
    cursor: default;
}

.coord-info-name {
    color: var(--dark-color);
}

.coord {
    background: rgb(233, 233, 233);
    height: 10em;
    width: 36em;
    border-radius: .7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    margin: 2em auto;
    border: 1px solid var(--dark-color);
}

#fund {
    text-align: center;
}