.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-logo img {
    height: 11em;
}
.team-logo img:hover{
    transform: rotate(5deg);
    cursor: default;
}
.team-logo #team-name {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    margin-left: -4em;
}
.team-logo #team-name h1{
    font-weight: bold;
    font-size: 1.1em;
}
.team-logo div:hover h1{
    transform: rotate(-5deg);
    cursor: default;
}

.coord-info-name {
    color: var(--dark-color);
}

.coord {
    height: 10em;
    width: 36em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em 0;
}

