.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.char {
    padding: .5em;
    margin: .5em;
    position: relative;
    width: 11em;
    display: flex;
    justify-content: center;
}
.char::after{
    content: '}';
    position: absolute;
    right: 0;
}
.char::before{
    content: '{';
    position: absolute;
    left: 0;
}

.team-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-logo img {
    height: 11em;
}
.team-logo img:hover{
    transform: rotate(5deg);
    cursor: default;
}

.coord-info-name {
    color: var(--dark-color);
}

.coord {
    height: 5em;
    width: 36em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

