header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8em;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ul {
    list-style: none;
    display: flex;
}

.header-li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 2.5em;
    padding: 1em 0;
    position: relative;
}
.header-li::after {
    content: '';
    background: #d60101;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    transition: 0.1s;
}
.header-li:hover::after {
    width: 70%;
}

.header-li a {
    color: #121212;
}
.header-li a.active {
    color: #7c1212;
}
.header-li:hover a {
    color: #7c1212;
}