header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8em;
    margin-bottom: 5em;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ul {
    list-style: none;
    display: flex;
}

.header-li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 2.5em;
    padding: 1em 0;
    position: relative;
    cursor: pointer;
}

.header-li a {
    color: #818181;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    font-weight: bold;
}
.header-li a:hover {
    color: #818181;
    transform: translateY(-0.3em);
    transition: 0.2s ease-in;
}
.header-li a::after {
    content: '';
    background: #818181;
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    transition: 0.2s;
}
.header-li a:hover::after {
    width: 80%;
}
.header-li a.active {
    color: #ff2626;
    color: var(--dark-color);
}
.header-li a.active::after {
    width: 80%;
    background: var(--highlight-color);
}

@media (prefers-color-scheme: light) {
    .header-li::after {
        background: #d60101;
    }
    .header-li:hover::after {
        width: 70%;
    }
    
    .header-li a {
        color: #121212;
    }
    .header-li a.active {
        color: #7c1212;
    }
    .header-li:hover a {
        color: #7c1212;
    }
}