#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 2em;
}

#ufsj {
  height: 80%;
}

#top-bar {
  position: fixed;
  background: rgb(190, 190, 190);
  height: 3em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0 5em 0 5em;
  align-items: center;
  z-index: 10;
  width: 100%;
}

#top-container {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-7%);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  margin-top: 1em;
  margin-bottom: 2em;
  color: var(--dark-color);
  max-width: 50%;
  padding-bottom: 2em;
  border-bottom: 2px solid var(--highlight-color);
}

h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: var(--highlight-color);
  padding-bottom: 1em;
  border-bottom: 1px solid var(--dark-color);
  max-width: 50%;
}

p {
  max-width: 80%;
}

.highlight-text {
  color: var(--highlight-color);
  font-weight: bold;
}

a {
  color: gray;
}